In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [3]:
items.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
# Select only needed Item
movie_content=items[['movie id','movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [5]:
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [7]:
# Create movie Vector

movie_vec=items[['Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]

In [8]:
# Rename the index
movie_vec.index=range(1,1683)

In [9]:
movie_vector=movie_vec.T

In [13]:
movie_vector

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
Action,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Adventure,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Animation,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Children's,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Comedy,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
Crime,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Drama,0,0,0,1,1,1,1,1,1,1,...,0,1,1,1,1,1,0,1,0,1
Fantasy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Horror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
Sci-Fi,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,1,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
War,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
#read the ratings dataset
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [15]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [18]:
movie_ratings = pd.merge(items, ratings, left_on='movie id', right_on='movie_id')

In [19]:
movie_ratings

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,user_id,movie_id,rating,unix_timestamp
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,308,1,4,887736532
1,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,287,1,5,875334088
2,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,148,1,4,877019411
3,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,280,1,4,891700426
4,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,66,1,3,883601324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,863,1678,1,889289570
99996,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,1,0,1,0,0,863,1679,3,889289491
99997,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,1,0,0,0,0,863,1680,2,889289570
99998,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,896,1681,3,887160722
99999,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,916,1682,3,880845755

In [20]:
# Calculate popularity metrics
popularity = movie_ratings.groupby('movie id').agg(
    rating_count=('rating', 'count'),
    avg_rating=('rating', 'mean')
).reset_index()

In [21]:
# Merge popularity data back to movies
movies_with_popularity = pd.merge(items, popularity, on='movie id')

In [22]:
# List of genres from your dataset
genres = ['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime',
          'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
          'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [23]:
# Get top 5 per genre
top_movies_per_genre = {}

for genre in genres:
    top_movies = (
        movies_with_popularity[movies_with_popularity[genre] == 1]
        .sort_values(by='rating_count', ascending=False)
        .head(5)
        [['movie id', 'movie title', 'rating_count', 'avg_rating']]
    )
    top_movies_per_genre[genre] = top_movies

In [24]:
# Display results
for genre, df in top_movies_per_genre.items():
    print(f"\nTop 5 {genre} movies:")
    print(df)

Top 5 Action movies:
     movie id                     movie title  rating_count  avg_rating
49         50                Star Wars (1977)           583    4.358491
180       181       Return of the Jedi (1983)           507    4.007890
299       300            Air Force One (1997)           431    3.631090
120       121   Independence Day (ID4) (1996)           429    3.438228
173       174  Raiders of the Lost Ark (1981)           420    4.252381

Top 5 Adventure movies:
     movie id                      movie title  rating_count  avg_rating
49         50                 Star Wars (1977)           583    4.358491
180       181        Return of the Jedi (1983)           507    4.007890
173       174   Raiders of the Lost Ark (1981)           420    4.252381
116       117                 Rock, The (1996)           378    3.693122
171       172  Empire Strikes Back, The (1980)           367    4.204360

Top 5 Animation movies:
     movie id                  movie title  rating_count  avg_rating
0           1             Toy Story (1995)           452    3.878319
70         71        Lion King, The (1994)           220    3.781818
94         95               Aladdin (1992)           219    3.812785
587       588  Beauty and the Beast (1991)           202    3.792079
431       432              Fantasia (1940)           174    3.770115

Top 5 Children's movies:
     movie id                                   movie title  rating_count  \
0           1                              Toy Story (1995)           452
150       151  Willy Wonka and the Chocolate Factory (1971)           326
422       423             E.T. the Extra-Terrestrial (1982)           300
131       132                      Wizard of Oz, The (1939)           246
70         71                         Lion King, The (1994)           220

     avg_rating
0      3.878319
150    3.631902
422    3.833333
131    4.077236
70     3.781818

Top 5 Comedy movies:
     movie id                                   movie title  rating_count  \
293       294                              Liar Liar (1997)           485
0           1                              Toy Story (1995)           452
203       204                     Back to the Future (1985)           350
150       151  Willy Wonka and the Chocolate Factory (1971)           326
172       173                    Princess Bride, The (1987)           324

     avg_rating
293    3.156701
0      3.878319
203    3.834286
150    3.631902
172    4.172840

Top 5 Crime movies:
     movie id                 movie title  rating_count  avg_rating
99        100                Fargo (1996)           508    4.155512
126       127       Godfather, The (1972)           413    4.283293
55         56         Pulp Fiction (1994)           394    4.060914
301       302    L.A. Confidential (1997)           297    4.161616
11         12  Usual Suspects, The (1995)           267    4.385768

Top 5 Documentary movies:
      movie id                   movie title  rating_count  avg_rating
47          48            Hoop Dreams (1994)           117    4.094017
31          32                  Crumb (1994)            81    3.790123
812        813  Celluloid Closet, The (1995)            56    3.892857
846        847    Looking for Richard (1996)            55    3.727273
1064      1065          Koyaanisqatsi (1983)            53    3.490566

Top 5 Drama movies:
     movie id                  movie title  rating_count  avg_rating
257       258               Contact (1997)           509    3.803536
99        100                 Fargo (1996)           508    4.155512
285       286  English Patient, The (1996)           481    3.656965
126       127        Godfather, The (1972)           413    4.283293
55         56          Pulp Fiction (1994)           394    4.060914

Top 5 Fantasy movies:
     movie id                        movie title  rating_count  avg_rating
422       423  E.T. the Extra-Terrestrial (1982)           300    3.833333
410       411        Nutty Professor, The (1996)           163    2.914110
471       472                 Dragonheart (1996)           158    3.082278
71         72                   Mask, The (1994)           129    3.193798
754       755                     Jumanji (1995)            96    3.312500

Top 5 Film-Noir movies:
     movie id                       movie title  rating_count  avg_rating
301       302          L.A. Confidential (1997)           297    4.161616
88         89               Blade Runner (1982)           275    4.138182
653       654                  Chinatown (1974)           147    4.136054
483       484        Maltese Falcon, The (1941)           138    4.210145
656       657  Manchurian Candidate, The (1962)           131    4.259542

Top 5 Horror movies:
     movie id          movie title  rating_count  avg_rating
287       288        Scream (1996)           478    3.441423
182       183         Alien (1979)           291    4.034364
233       234          Jaws (1975)           280    3.775000
184       185        Psycho (1960)           239    4.100418
199       200  Shining, The (1980)           206    3.825243

Top 5 Musical movies:
     movie id                 movie title  rating_count  avg_rating
288       289                Evita (1996)           259    2.980695
185       186  Blues Brothers, The (1980)           251    3.836653
131       132    Wizard of Oz, The (1939)           246    4.077236
142       143  Sound of Music, The (1965)           222    3.765766
70         71       Lion King, The (1994)           220    3.781818

Top 5 Mystery movies:
     movie id                   movie title  rating_count  avg_rating
404       405    Mission: Impossible (1996)           344    3.313953
301       302      L.A. Confidential (1997)           297    4.161616
327       328      Conspiracy Theory (1997)           295    3.423729
190       191                Amadeus (1984)           276    4.163043
134       135  2001: A Space Odyssey (1968)           259    3.969112

Top 5 Romance movies:
     movie id                      movie title  rating_count  avg_rating
49         50                 Star Wars (1977)           583    4.358491
180       181        Return of the Jedi (1983)           507    4.007890
285       286      English Patient, The (1996)           481    3.656965
236       237             Jerry Maguire (1996)           384    3.710938
171       172  Empire Strikes Back, The (1980)           367    4.204360

Top 5 Sci-Fi movies:
     movie id                    movie title  rating_count  avg_rating
49         50               Star Wars (1977)           583    4.358491
257       258                 Contact (1997)           509    3.803536
180       181      Return of the Jedi (1983)           507    4.007890
120       121  Independence Day (ID4) (1996)           429    3.438228
6           7          Twelve Monkeys (1995)           392    3.798469

Top 5 Thriller movies:
     movie id                       movie title  rating_count  avg_rating
99        100                      Fargo (1996)           508    4.155512
287       288                     Scream (1996)           478    3.441423
299       300              Air Force One (1997)           431    3.631090
97         98  Silence of the Lambs, The (1991)           390    4.289744
116       117                  Rock, The (1996)           378    3.693122

Top 5 War movies:
     movie id                      movie title  rating_count  avg_rating
49         50                 Star Wars (1977)           583    4.358491
180       181        Return of the Jedi (1983)           507    4.007890
285       286      English Patient, The (1996)           481    3.656965
120       121    Independence Day (ID4) (1996)           429    3.438228
171       172  Empire Strikes Back, The (1980)           367    4.204360

Top 5 Western movies:
     movie id                                movie title  rating_count  \
96         97                  Dances with Wolves (1990)           256
434       435  Butch Cassidy and the Sundance Kid (1969)           216
202       203                          Unforgiven (1992)           182
176       177     Good, The Bad and The Ugly, The (1966)           137
72         73                            Maverick (1994)           128

     avg_rating
96     3.792969
434    3.949074
202    3.868132
176    3.861314
72     3.468750

# combined table format

In [29]:
# Build the combined DataFrame
all_top_movies = []

for genre in genres:
    top_movies = (
        movies_with_popularity[movies_with_popularity[genre] == 1]
        .sort_values(by='rating_count', ascending=False)
        .head(5)
        [['movie id', 'movie title', 'rating_count', 'avg_rating']]
        .copy()
    )
    top_movies['genre'] = genre  # Add genre column
    all_top_movies.append(top_movies)

In [30]:
# Combine into one DataFrame
final_df = pd.concat(all_top_movies, ignore_index=True)

In [31]:
# Sort within genres
final_df = final_df.sort_values(by=['genre', 'rating_count'], ascending=[True, False])

In [32]:
# Show DataFrame
final_df

,movie id,movie title,rating_count,avg_rating,genre
0,50,Star Wars (1977),583,4.358491,Action
1,181,Return of the Jedi (1983),507,4.007890,Action
2,300,Air Force One (1997),431,3.631090,Action
3,121,Independence Day (ID4) (1996),429,3.438228,Action
4,174,Raiders of the Lost Ark (1981),420,4.252381,Action
...,...,...,...,...,...
85,97,Dances with Wolves (1990),256,3.792969,Western
86,435,Butch Cassidy and the Sundance Kid (1969),216,3.949074,Western
87,203,Unforgiven (1992),182,3.868132,Western
88,177,"Good, The Bad and The Ugly, The (1966)",137,3.861314,Western
89,73,Maverick (1994),128,3.468750,Western